.accountTable {
  display: flex;
  justify-content:center;
  height:324px;
  width: 411px;
  margin:auto;
  font-size: smaller;
  overflow: auto;

}

.info_dynamic {
  text-align: center;
  justify-content: center;
}