.download_wrapper, .downloadText{
  //border: 3px solid red;
  font-size: 25px;
  width: 342px;
  margin: auto;
}

.btn_wrapper {
  display: flex;
  flex-direction: row;
  //border: 5px solid red;
}

.download, .cancel {
  margin: auto;
}

.progress {
  width: 300px;
  align-self: center;
}

