#login {
  /*border: 3px solid red;*/
  text-align: center;
  margin: auto;
  z-index: 999;
}

label {
  width: 108px;
  text-align: right;
}

//Submit and Reset Buttons

.bottomButton {
  margin: auto;
}