#signUpForm {
    /*position: absolute;*/
    //border: 13px solid red;
    margin: auto;
    /*left: 39%;*/
    /*top: 22%;*/
    //max-height: 27%;
    //min-width: 35%;
    z-index: 999;
    width:33%;
}