.accountTable {
  display: flex;
  justify-content: center;
  height: 324px;
  width: 411px;
  margin: auto;
  font-size: smaller;
  overflow: auto; }

.info_dynamic {
  text-align: center;
  justify-content: center; }

#signUpForm {
  display: flex;
  justify-content: space-around;
  top: 7%;
  z-index: 999; }

input label {
  padding: 5px; }

.red {
  color: red;
  text-align: right; }

#login {
  text-align: center;
  margin: auto;
  z-index: 999; }

label {
  width: 108px;
  text-align: right; }

.bottomButton {
  margin: auto; }

.forgot {
  position: relative; }

.download_wrapper, .downloadText {
  font-size: 25px;
  width: 342px;
  margin: auto; }

.btn_wrapper {
  display: flex;
  flex-direction: row; }

.progress {
  width: 300px;
  align-self: center; }

#leaderboard {
  justify-content: center; }

.bgBlue th, .bgBlue td {
  background-color: cadetblue;
  border: 2px solid black;
  padding: 2px;
  text-align: center; }

#current {
  margin: auto;
  text-align: center;
  overflow: auto;
  height: 300px; }

#powerUpsTable {
  height: 232px; }

.bold {
  font-weight: 900; }

.size {
  min-width: 50px; }

._width {
  width: 40px; }

.card-wrapper {
  margin: auto;
  width: 400px;
  text-align: center; }

.buttonWrapper {
  position: relative;
  right: 3rem; }

.total {
  text-align: center; }

.stubWrapper {
  text-align: left;
  font-size: xx-large !important;
  margin-top: 11rem !important;
  width: 282px !important; }

#wrapper {
  margin: auto;
  text-align: left; }

#wrapper label {
  text-align: left;
  width: 125px; }

#deleteWrapper, .optWrapper, .restWrapper {
  font-family: "Peas & Carrots";
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  text-align: center;
  color: cadetblue;
  font-size: 28px;
  margin: auto;
  z-index: 999; }

.del_yes, .del_no, .opt_yes, .opt_no, .rest_yes, .rest_no {
  max-width: 50px;
  margin: auto; }

.transactions, .showCC {
  width: 335px !important;
  height: 300px;
  overflow: auto;
  text-align: center; }

.text_wrapper {
  overflow: auto;
  height: 306px;
  width: 390px;
  margin: auto;
  text-align: center; }

body {
  background: url("../images/forest.jpg") no-repeat center center fixed;
  background-size: cover; }

/*called peas carrots font*/
@font-face {
  font-family: 'Peas & Carrots';
  src: url("../fonts/peas_carrots/Peas & Carrots.ttf"); }
h1 {
  text-align: center;
  font-family: "Peas & Carrots";
  font-size: 70px;
  color: cadetblue;
  text-shadow: 2px 0 0 black; }

.leftNav, .infoBtnWrapper {
  display: block;
  left: 10px;
  position: absolute;
  max-width: 5%;
  top: 14%; }

.scrollWrapper {
  background: url("../images/Scroll.png") no-repeat center center;
  display: flex;
  height: 500px;
  /*width: 900px;*/
  justify-content: center;
  /*background-position: 10%,50%;*/
  margin: 10px; }

.description {
  color: black;
  font-size: medium;
  width: 220px;
  margin: auto;
  font-family: fantasy; }

.btn-default, .btn-danger {
  margin: 3px; }

.confirm {
  font-size: x-large;
  top: -5em; }

.infoBtnWrapper {
  display: block; }

.signedIn {
  position: inherit;
  color: white;
  text-align: right; }

.logout {
  color: red; }

tr, td, th {
  border: 2px solid;
  text-align: center;
  padding: 3px; }

#transactions, .img, .download, .cancel, #leaderboard, #powerUpsTable, .payment, .restWrapper, .restMessage {
  display: flex;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
