//variables

$font-family: 'Peas & Carrots';
$font-color: cadetblue;

//imports

@import "accountInfo";
@import "signUpForm";
@import "home";
@import "login";
@import "download";
@import "leaderboard";
@import "powerUps";
@import "purchasePowerUps";
@import "paymentinfo";
@import "paymentStub";
@import "stats";
@import "delete";
@import "viewTransactions";

body {
    background: url("../images/forest.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*called peas carrots font*/
@font-face {
    font-family:'Peas & Carrots';
    src: url('../fonts/peas_carrots/Peas & Carrots.ttf');
}

h1 {
    text-align: center;
    font-family:$font-family;
    font-size: 70px;
    color: $font-color;
    text-shadow: 2px 0 0 black;
}

.leftNav, .infoBtnWrapper{
    display:block;
    left: 10px;
    position:absolute;
    max-width: 5%;
    top: 14%;
}

.scrollWrapper {
    background: url("../images/Scroll.png") no-repeat center center;
    display: flex;
    height: 500px;
    /*width: 900px;*/
    justify-content: center;
    border: 5px solid blue;
    /*background-position: 10%,50%;*/
    margin: 10px;
}


.btn-default {
    margin: 3px;
}

.confirm {
    font-size: x-large;
    top: -5em;
}

.infoBtnWrapper {
    display: block;
    text-align: right;
}






